<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trendy Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Tech Blog</h1>
            <nav class="navbar">
                <ul>
                    <li><button> <a href="/">Home</button></li>
                    <li><button> <a href="/login">Login</button></li>
                    <li><button> <a href="/signup">Sign Up</button></li>
                    <li><button id="logout" class="button is-danger">Logout</button>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <section class="posts">
            <article class="post">
                <h2>Post Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet libero sit amet nisl tincidunt aliquam.</p>
                <a href="#" class="read-more">Read More</a>
            </article>
            <!-- Add more posts as needed -->
        </section>
    </div>

</body>
