<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="signup-box">
            <h2>Sign Up</h2>
            <form id="signup-form">
                <div class="input-group">
                    <label for="username-signup">Username</label>
                    <input type="text" id="username-signup" name="username" required>
                </div>
                <div class="input-group">
                    <label for="email-signup">Email</label>
                    <input type="email" id="email-signup" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password-signup">Password</label>
                    <input type="password" id="password-signup" name="password" required>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>

</body>

<script src="/javascript/signup.js"></script>